.categorie-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 600px;
  margin-top: 80px;
}

.categorie-name {
  border: 1px solid #eee;
  font-size: 25px;
  margin-right: 10px;
  padding: 10px 15px;
}

.categorie-name:hover {
  background-color: #eee;

  border-color: whitesmoke;
}

.gif-home > .gifList-wrapper {
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .categorie-name {
    font-size: 10px;
  }
  .categorie-wrapper {
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .categorie-wrapper {
    width: 100%;
  }
  .gif-home > .gifList-wrapper {
    display: contents;
  }
  .gifList-wrapper {
    width: 66%;
  }
}
