.gifList-wrapper {
  max-width: 1300px;
  width: 90%;
  margin: auto;
  padding: 1em;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 15em;
  -moz-column-width: 15em;
  column-width: 15em;
}
/* .gifList-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
} */
